In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [9]:
df = pd.read_excel("inputs/Test Data.xlsx")
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain   NaN  48000.0       Yes
2  Germany  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0  10000.0       Yes

In [10]:
categorical_cols = ['Country', 'Purchased']

for col in categorical_cols:
    df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     category
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  9 non-null      category
dtypes: category(2), float64(2)
memory usage: 360.0 bytes

In [11]:
features = df.iloc[:, :].values
features

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', nan, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, nan],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 10000.0, 'Yes'],
       ['France', 35.0, nan, 'Yes'],
       ['Spain', 35.5, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [12]:
features[:, 0]

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [13]:
encode = LabelEncoder()

features[:, 0] = encode.fit_transform(features[:, 0])
pd.DataFrame(features)

   0     1      2    3
0  0    44  72000   No
1  2   NaN  48000  Yes
2  1    30  54000  NaN
3  2    38  61000   No
4  1    40  10000  Yes
5  0    35    NaN  Yes
6  2  35.5  52000   No
7  0    48  79000  Yes
8  1    50  83000   No
9  0    37  67000  Yes

In [ ]:
imputer = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
imputer = imputer.fit(trainingData[:, 1:2])
imputer

In [ ]:
dataset[:, 0:2] = imputer.transform(dataset[:, 0:2])

In [ ]:
pd.DataFrame(dataset)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

arr = [[1., 'x'], [np.nan, 'y'], [7., 'AA'], [7., 'y'], [4., np.nan]]
df1 = pd.DataFrame({
    'x1': [x[0] for x in arr],
    'x2': [x[1] for x in arr]
},index=[l for l in 'abcde'])
df1

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
print(pd.DataFrame(imp.fit_transform(df1), columns=df1.columns, index=df1.index))